.gallery-section{
    width: $mobile-screen-width;
    @media (max-width: $mobile-screen-width) {
      flex: 1 1 100%;
    }
    background-color: lightgoldenrodyellow;
    border: 1px solid grey;
    padding: 10px;
    margin: em(10px) auto;
    min-height: 500px;
    overflow: hidden;
}

.images-container {
 img{
        margin-top: 20px;
        margin-right: 5px;
        margin-left: 5px;
        max-width:100%;
        height: auto;
        border: 1px solid black;
        min-width: 300px;
    }   
}

.search-section {
    padding: 5px;
    min-height: 30px;
    background-color: yellowgreen;
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: center;
    font:var(--secondary-font);
}

.button {
    height: 48px;
    width: 48px;
    border-radius: 10px;
}