.gallery-section{
    // width: $mobile-screen-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: $mobile-screen-width) {
      flex: 1 1 100%;
    }
    background-color: var(--gallery-meta-background-color);
    // border: 1px solid var(--gallery-meta-border-color);
    padding: 10px;
    margin: em(10px) auto;
    min-height: 500px;
    overflow: hidden;
}

// .key-word{
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     flex-direction: column;
// }

.images-container {
 img{
        // clip-path: polygon(50% 0%, 80% 25%, 80% 75%, 50% 100%, 20% 75%, 20% 25%);
        margin-top: 20px;
        margin-right: 5px;
        margin-left: 5px;
        max-width:100%;
        height: auto;
        border: 1px solid black;
        min-width: 300px;
    }   
}

.search-section {
    padding: 5px;
    min-height: 50px;
    // background-color: yellowgreen;
    border-bottom: 1px solid grey;
    width: 100%;
    text-align: left;
    padding: 10px;
    font-family: var(--about-h1-font);
}

.search-box {
    font-family: var(--about-h1-font);
    height: 30px;
    min-width: 100px;
    width: 200px;
}

.button {
    height: 48px;
    width: 48px;
    border-radius: 10px;
}

.searchBox {
    font-family: cursive;
}

.url-box {
    // float: left;
}

.keywords-box {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.key-word{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}

.touch-btn {
    height: 60px;
    width: 60px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
    float: left;
    margin: 5px;
}