/*----------  Containers  ----------*/

.container {
  // width: var(--container-width);
  width: $container-width;
  //width: $mobile-screen-width;
  //max-width: 98%;
  max-width: 100%;
  margin: 0 auto;
 // padding: 0 1em;
}

.inner-container {
  width: var(--inner-container-width);
  max-width: 98%;
  margin: 0 auto;
}

/*----------  Flex Helpers  ----------*/

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.full-height {
  height: 100%;
}

.flex-1 {
  flex-grow: 1;
}

.display-inline{
  display: inline;
}


/* Breakpoint mixins */

// @mixin for-mobile-only {
//   @media (max-width: $mobile-breakpoint) {
//     @content;
//   }
// }