
/*----------  Playfair Font  ----------*/

@font-face {
  font-family: 'eurofurence';
  src: url('../assets/fonts/eurofurence/eurof55.ttf'); 
}


/*----------  Ubunto Font  ----------*/

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato2OFL/Lato-Semibold.ttf');
  font-weight: 400;
}