$container-width: 980px; //CLEAN
$mobile-breakpoint: 642px; //CLEAN

$mobile-screen-width: 700px;

:root {
  /* Layout */
  --container-width: $container-width;
  --inner-container-width: 900px;
  /* Fonts */
  --primary-font: Playfair;
  --secondary-font: Ubuntu;
  /* Colors */
  --main-color: #626262;
  --sections-bg: #f0f0f0;
  --post-meta-color: #b5aea0;
  
  --about-meta-color:             #2eb398;
  --gallery-meta-border-color:    #e4e9eb;
  --gallery-meta-background-color:#ffffff;
  --about-h1-color:               #d7fcf5;
  --about-h1-font:                 MavenPro;
  --about-h2-color:               #20816d;
  --about-p-color:                #d7fcf5;
  --about-p-font:                      Lato;

  --contact-section-bg-color:     #323232;
  --contact-h1-color:             #e0e0e0;
  --contact-h2-color:             #bebebe;
  --contact-input-bg-color:       #454545;
  --contact-p-span-font:         Lato-black; 
}


