@import 'vendor';
@import 'functions';
@import 'helpers';
@import 'typography';
@import 'vars';
@import 'layout';
@import 'base';
@import 'forms';

/*   Components   */
@import 'main-nav';
// @import 'post';
@import 'signup';
@import 'main-footer';
@import 'gallery';
@import 'editor';
@import 'about';
@import 'contact';



.main-container{

  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //max-width: 700px;
}

 

.navigation{
    margin:0;
    margin-top:80px;
    border-top:1px solid #c3c3c3;
}



.navigation-item{
height: 70px;
margin:0;
 flex: 1; 
 padding:30px;
color: #818181;
font-family: Lato;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
 
 align-items: center;
  p{margin:0; padding:10px; cursor: pointer; &:hover{color: #414141} }
}

.navigation-item-right{
  justify-content: flex-end;
}

footer{
     border-top:1px solid #c3c3c3;
     background-color: #f9f9f9;
      height: 314px;
      justify-content: center;
      align-items: center;
}



.footer-content{
      margin-bottom:0px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 155px; 
.logo{line-height: 65%;}
a{color: #252525;}
}


.all-rights{
  font-family: Lato;
  font-size: 13px;
  line-height: 20px;
  color: #a6a6a6;
  font-weight: 400;
}
